#form {
  width: 40%;
  margin: 50px auto;
  text-align: center;
}
form {
  text-align: left;
}
form div {
  margin-top: 10px;
}
label {
  font-weight: bold;
  font-size: 15px;
}
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  background-color: #159895;
  border: 1px solid #1a5f7a;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #002b5b;
}
textarea {
  resize: none;
  height: 100px;
}
.submit {
  text-align: right;
  margin-top: 45px;
}
button {
  background-color: #002b5b;
  color: #e2e2e3;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
